/* 
основной цвет текста    #757575
второстепенный цвет текста  #212121
акцент   #2196f3
*/

$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$button-white: #ffffff;
$bg-color-btn: #f5f4fa;
$body-bg-color: #ffffff;
$text-logo-black: #000;
$text-white: #ffffff;
$bg-hero-footer: #2f303a;
$bg-section-team: #f5f4fa;
$adress-text-color: rgba(255, 255, 255, 0.6);
$bg-icons-adv: #f5f4fa;
$icon-color-white: #fff;
$icon-color-gray: #afb1b8;
